#blipCircleClock {
	display: flex;
	justify-content: center;
	align-items: baseline;
	border: solid blue 10px;
	border-radius: 50%;
	width: 165px;
	height: 165px;
	background-color: green;
}

.blipCircleContainers {
	display: flex;
	justify-content: center;
	align-self: center;
}

.blipCircleSeperator {
	align-self: center;
	font-size: 50px;
	color: black;
	margin: 5px;
}

.blipCircleOn {
	background-color: darkblue;
	border-color: darkblue;
}

.blipCircleOff {
	background-color: lightblue;
	border-color: lightblue;
}

.blipsCircle {
	border-radius: 30px 30px 30px 30px;
	color: rgb(222, 213, 213);
	text-align: center;
	font-size: 14px;
	width: 4px;
	height: 125px;

	margin: 0px 1px 0px 1px;
}
#bezel {
	border: red solid 5px;
	height: 165px;
	width: 165px;
	border-radius: 50%;
	position: absolute;
}
