#blipCircleClock {
	display: flex;
	justify-content: center;
	align-items: baseline;
	border: solid blue 10px;
	border-radius: 50%;
	width: 165px;
	height: 165px;
	background-color: green;
}

.blipCircleContainers {
	display: flex;
	justify-content: center;
	align-self: center;
}

.blipCircleSeperator {
	align-self: center;
	font-size: 50px;
	color: black;
	margin: 4px;
}

.blipCircleOn {
	background-color: darkblue;
	border-color: darkblue;
}

.blipCircleOff {
	background-color: lightblue;
	border-color: lightblue;
}

.blipsCircle {
	border-radius: 30px 30px 30px 30px;
	color: rgb(222, 213, 213);
	text-align: center;
	font-size: 14px;
	width: 4px;
	height: 125px;

	margin: 0px 1px 0px 1px;
}
#blipCircleClockContainer {
	width: 155px;
	height: 155px;
	position: relative;
	/* border: solid 3px orange; */
}

#bezel,
#blipCircleClock {
	border: green solid 15px;
	height: 125px;
	width: 125px;
	border-radius: 50%;
	position: absolute;
}

#outerBezel {
	border: green solid 17px;
	height: 121px;
	width: 121px;
	border-radius: 25%;
	position: absolute;
}
