body {
	background-color: rgb(233, 238, 244);
}

.description {
	font-size: 20px;
}

#decimalClock {
	background-color: black;
	font-family: cursive;
	border: rgb(62, 62, 118) solid 4px;
	border-radius: 30px 30px 0px 0px;
	color: rgb(101, 97, 97);
	text-align: center;
	font-size: 2vw;
	width: 35vw;
}

#binaryClock {
	padding: 10px;
	border: brown solid 4px;
	border-radius: 0px 40px 30px 40px;
	background-color: black;

	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	color: green;
	font-size: 4vw;

	width: 65vw;
}

#blipperClock {
	background-color: grey;
	margin-top: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 500px;
	border: solid 5px darkgrey;
	border-radius: 70px;
}

.blips {
	border: rgb(155, 40, 44) solid 4px;
	border-radius: 30px 30px 30px 30px;
	color: rgb(222, 213, 213);
	text-align: center;
	font-size: 14px;
	width: 13px;
	height: 100px;
}

.blipperOn {
	background-color: green;
	border-color: darkgreen;
}

.blipperOff {
	background-color: lightblue;
	border-color: lightblue;
}

#blipperHour {
	display: flex;
}

#blipperMinute {
	display: flex;
}

#blipperSecond {
	display: flex;
}

#ioBinaryClock {
	/* margin-top: 50px; */

	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	height: 50px;
	width: 350px;
	border: 5px red solid;
	border-radius: 55px 30px 55px 30px;
}

#displayVBlip {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: larger;
	color: blue;
	padding: 20px;
	size: 20px;
}

#vBlipClock {
	margin-left: 40vw;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: baseline;
	border: solid blue 10px;
	border-radius: 40px;
	width: 225px;
	height: 225px;
	background-color: grey;
}

.vBlipContainers {
	position: relative;
	/* margin: 5px; */
}

.vBlipSeperator {
	align-self: center;
	font-size: 50px;
	color: black;
	margin: 5px;
}

.vBlips {
	border: rgb(155, 40, 44) solid 4px;
	border-radius: 30px 30px 30px 30px;
	color: rgb(222, 213, 213);
	text-align: center;
	font-size: 14px;
	width: 9px;
	height: 44px;
	margin: 3px 5px 3px 5px;
}

.vBlipOn {
	background-color: darkblue;
	border-color: darkblue;
}

.vBlipOff {
	background-color: lightblue;
	border-color: lightblue;
}
