body {
	background-color: rgb(233, 238, 244);
}

#decimalClock {
	background-color: black;
	border: rgb(62, 62, 118) solid 4px;
	border-radius: 30px 30px 0px 0px;

	color: rgb(101, 97, 97);
	text-align: center;
	font-size: 24px;
	width: 150px;
}

#binaryClock {
	padding: 10px;
	border: brown solid 4px;
	border-radius: 0px 40px 30px 40px;
	background-color: black;
	width: 450px;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	color: green;
	font-size: 34px;
}

#blipperClock {
	background-color: grey;
	margin-top: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 500px;
	border: solid 5px darkgrey;
	border-radius: 70px;
}

.blips {
	/* background-color: black; */
	border: rgb(155, 40, 44) solid 4px;
	border-radius: 30px 30px 30px 30px;
	color: rgb(222, 213, 213);
	text-align: center;
	font-size: 14px;
	width: 13px;
	height: 100px;
}

.blipperOn {
	background-color: green;
	border-color: darkgreen;
}

.blipperOff {
	background-color: lightblue;
	border-color: lightblue;
}

#blipperHour {
	display: flex;
}

#blipperMinute {
	display: flex;
}

#blipperSecond {
	display: flex;
}

#displayVBlip {
	margin-top: 50px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: Blue;
	width: 200;
}

#vBlipClock {
	display: flex;
	border: solid red 10px;
	width: 300px;
}

.vBlipContainer {
	position: relative;
	border: purple solid 5px;
}

.vBlips {
	/* background-color: black; */
	border: rgb(155, 40, 44) solid 4px;
	border-radius: 30px 30px 30px 30px;
	color: rgb(222, 213, 213);
	text-align: center;
	font-size: 14px;
	width: 13px;
	height: 13px;
	padding: 3px;
	margin: 3px;
}

.vBlipOn {
	background-color: green;
	border-color: darkgreen;
}

.vBlipOff {
	background-color: lightblue;
	border-color: lightblue;
}
